.MardiGras {
    font-family: $Fpattaya;
    font-size: 45px;
    color: $purpleDarkC;
    display: flex;
    justify-content: center;
    align-items: center;
}

.para2 {
    font-family: $robotoC;
    font-size: 25px;
    color: $purpleDarkC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para3 {
    font-family: $robotoC;
    font-size: 20px;
    color: $purpleDarkC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.para {
    font-family: $robotoC;
    font-size: 20px;
    color: $purpleDarkC;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.paraTrivia {
    font-family: $robotoC;
    font-size: 20px;
    color: $greenDark;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.paraTrivia2 {
    font-family: $robotoC;
    font-size: 20px;
    color: $redC;
    /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}