@import url("https://fonts.googleapis.com/css2?family=Henny+Penny&family=Pattaya&family=Roboto:wght@100;300;400;500;700&display=swap%27");
@import url("https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;1,400&display=swap");
a {
  color: #fff;
  font-family: 'Pattaya';
  font-size: 1.7rem;
}

a:hover {
  color: #6d160e;
}

.logoA {
  width: 200px;
}

.logoA .logoNav {
  position: absolute;
  top: 10px;
  left: 10px;
  z-index: 999;
}

@media (max-width: 600px) {
  .logoA {
    width: 125px;
  }
  .logoA .logoNav {
    position: relative;
    width: 120px;
  }
}

.headerNavb {
  width: 100vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

/* 
 img[src="/img/logo1.png"] {
     width: 100px;
     height: 100px;
 } */
/*  .imgLogo {
     width: 200px;
     height: 150px;
     margin-left: 60px;
 } */
.bgc-G {
  background: #8cbf3f;
  background: linear-gradient(344deg, rgba(140, 191, 63, 0.967122) 11%, #9453a6 50%, rgba(242, 204, 15, 0.897094) 92%);
}

.nav-link-Home {
  color: #050;
  text-decoration: none;
}

.nav-link-About {
  text-decoration: none;
  color: #f2cc0f;
}

.nav-link-MediaNav {
  color: #55038C;
  text-decoration: none;
}

.nav-link-FAQnav {
  color: #050;
  text-decoration: none;
}

.nav-link-ContactNav {
  color: #f2cc0f;
  text-decoration: none;
}

.nav-link-TriviaNav {
  color: #55038C;
  text-decoration: none;
}

.nav-item {
  margin: 25px;
}

.nav-item:hover {
  -webkit-transform: rotate(10deg);
          transform: rotate(10deg);
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}

.card-img-top {
  width: 285px;
  height: 180px;
}

.card-img-top {
  background-color: #fdf8e5;
}

.card-body {
  background-color: #fdf8e5;
  background: #8cbf3f;
  background: linear-gradient(344deg, rgba(140, 191, 63, 0.967122) 11%, #9453a6 50%, rgba(242, 204, 15, 0.897094) 92%);
}

.btn:hover {
  background-color: #6d160e;
  border: 1px solid #000;
}

.btn {
  background-color: #8cbf3f;
  border: 1px solid #f2f2f2;
}

.card:hover {
  cursor: pointer;
  -webkit-transform: scale(1.07);
          transform: scale(1.07);
  -webkit-transition: all 1s ease;
  transition: all 1s ease;
}

.card {
  margin: 10px;
  text-align: center;
}

.oneCard {
  border: #8cbf3f solid 1.5px;
}

.twoCard {
  border: #8cbf3f solid 1.5px;
}

.treeCard {
  border: #8cbf3f solid 1.5px;
}

.forCard {
  border: #8cbf3f solid 1.5px;
}

.carouselH {
  font-size: 35px;
  font-family: "Pattaya", sans-serif;
  color: #f2f2f2;
  /* background-color: $greenC; */
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.w-100 {
  width: 100vw;
  height: 80vh;
  -o-object-fit: cover;
     object-fit: cover;
}

.carouselP {
  font-size: 25px;
  font-family: "Pattaya", sans-serif;
  color: #f2f2f2;
  /* background-color: $greenC; */
  width: 550px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

footer {
  bottom: 0;
  left: 0;
  right: 0;
  background: #111;
  height: auto;
  width: 100vw;
  font-family: "Roboto", sans-serif;
  padding-top: 40px;
  color: #fff;
}

.footer-content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  text-align: center;
}

.footer-content h3 {
  font-size: 1.8rem;
  font-weight: 400;
  text-transform: capitalize;
  line-height: 3rem;
}

.footer-content p {
  max-width: 500px;
  margin: 10px auto;
  line-height: 28px;
  font-size: 14px;
}

.socials {
  list-style: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin: 1rem 0 3rem 0;
}

.socials li {
  margin: 0 10px;
}

.socials a {
  text-decoration: none;
  color: #fff;
}

.socials a i {
  font-size: 1.1rem;
}

.socials a:hover i {
  color: aqua;
}

.footer-bottom {
  background: #000;
  width: 100vw;
  padding: 20px 0;
  text-align: center;
}

.footer-bottom p {
  font-size: 14px;
  word-spacing: 2px;
  text-transform: capitalize;
}

.footer-bottom span {
  text-transform: uppercase;
  opacity: .4;
  font-weight: 200;
}

.MardiGras {
  font-family: "Pattaya", sans-serif;
  font-size: 45px;
  color: #55038C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.para2 {
  font-family: "Roboto", sans-serif;
  font-size: 25px;
  color: #55038C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.para3 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #55038C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.para {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #55038C;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.paraTrivia {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #050;
  /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.paraTrivia2 {
  font-family: "Roboto", sans-serif;
  font-size: 20px;
  color: #DC5541;
  /* display: flex;
    justify-content: center;
    align-items: center;
    text-align: center; */
}

.cardLaToya {
  -webkit-box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
          box-shadow: 0 0 20px rgba(0, 0, 0, 0.6);
  border-radius: 8px;
  width: 80%;
  max-width: 480px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background: #fdf8e5;
  color: #0d0d0d;
  text-align: center;
  padding: 2em;
}

.social-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  list-style: none;
  margin: 0;
  padding: 0;
  width: 150px;
  margin: 0 auto;
}

.social-link {
  color: #f2cc0f;
  opacity: 0.5;
  font-size: 1.125rem;
}

.social-link:hover,
.social-link:focus {
  opacity: 1;
}

.profileimg {
  width: 300px;
  border-radius: 50%;
  border: 5px solid white;
}

.profile-name {
  font-size: 1.9rem;
  line-height: 1.1;
  letter-spacing: 1px;
}

.profile-body {
  font-weight: 300;
  opacity: 0.8;
  margin-bottom: 0;
}

.profile-position {
  margin: 0;
  text-transform: uppercase;
  font-size: 0.995rem;
  letter-spacing: 3px;
  color: #55038C;
  margin-bottom: 2em;
}

.profile-name::after {
  content: "";
  display: block;
  height: 5px;
  width: 2em;
  background: #55038C;
  opacity: 0.85;
}

@media screen and (max-width: 600px) {
  .cardLaToya {
    width: 100%;
    height: 100%;
    display: block;
    margin-bottom: 40px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

h1 {
  text-align: center;
  color: #55038C;
  margin: 30px 0 50px;
  font-family: "Pattaya", sans-serif;
}

h2 {
  text-align: center;
  color: #050;
  font-family: "Pattaya", sans-serif;
  margin: 30px 0 50px;
}

.gallery {
  margin: 10px 50px;
  padding: 5px;
}

.gallery img {
  width: 266px;
  padding: 25px;
  -webkit-filter: grayscale(100%);
          filter: grayscale(100%);
  -webkit-transition: 1s;
  transition: 1s;
}

.gallery img:hover {
  -webkit-filter: grayscale(0);
          filter: grayscale(0);
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}

.imgGallery {
  width: 500px;
  height: 300px;
}

.YoutubeClasse {
  width: 1400px;
  height: 400px;
  display: block;
  margin-bottom: 40px;
}

.videowrapper {
  position: relative;
  padding-bottom: 56.25%;
  padding-top: 25px;
  height: 0px;
}

.videowrapper iframe {
  position: absolute;
  left: 0px;
  top: 0px;
  right: 0px;
  bottom: 0px;
  height: 100%;
  width: 100%;
}

/* @media screen and (min-width:580px) {
    .YoutubeClasse {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 40px;
    }
} */
/* 
@media screen and (min-width:768px) {
    .YoutubeClasse {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 40px;
    }
}

@media screen and (min-width:980px) {
    .YoutubeClasse {
        width: 100%;
        height: 100%;
        display: block;
        margin-bottom: 40px;
    }
} */
* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

section {
  min-height: 100vh;
  width: 80%;
  margin: 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.title {
  font-size: 3rem;
  margin: 2rem 0rem;
}

.faq {
  max-width: 700px;
  margin-top: 2rem;
  padding-bottom: 1rem;
  border-bottom: 2px solid #fff;
  cursor: pointer;
}

.question {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.question h3 {
  font-size: 1.8rem;
}

.answer {
  max-height: 0;
  overflow: hidden;
  -webkit-transition: max-height 1.4s ease;
  transition: max-height 1.4s ease;
}

.answer p {
  padding-top: 1rem;
  line-height: 1.6;
  font-size: 1.4rem;
}

.faq.active .answer {
  max-height: 300px;
  -webkit-animation: fade 1s ease-in-out;
          animation: fade 1s ease-in-out;
}

.faq.active svg {
  -webkit-transform: rotate(180deg);
          transform: rotate(180deg);
}

svg {
  -webkit-transition: -webkit-transform 0.5 ease-in;
  transition: -webkit-transform 0.5 ease-in;
  transition: transform 0.5 ease-in;
  transition: transform 0.5 ease-in, -webkit-transform 0.5 ease-in;
}

@-webkit-keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes fade {
  from {
    opacity: 0;
    -webkit-transform: translateY(-10px);
            transform: translateY(-10px);
  }
  to {
    opacity: 1;
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerBox {
  position: relative;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 100%;
  padding: 20px 100px;
}

.containerBox::after {
  content: '';
  position: absolute;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  background-size: cover;
  z-index: -1;
  -webkit-filter: blur(50px);
          filter: blur(50px);
}

.contact-box {
  max-width: 850px;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[2];
      grid-template-columns: repeat(2, 1fr);
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  background-color: #fff;
  -webkit-box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
          box-shadow: 0px 0px 19px 5px rgba(0, 0, 0, 0.19);
}

.left {
  height: 100%;
  background: url("/img/mediaImg/img2.jpg") no-repeat center;
  background-size: cover;
}

.right {
  padding: 25px 40px;
}

h2 {
  position: relative;
  padding-bottom: 10px;
  margin-bottom: 10px;
}

h2::after {
  content: '';
  position: absolute;
  left: 50%;
  bottom: 0;
  -webkit-transform: translateX(-50%);
          transform: translateX(-50%);
  height: 4px;
  width: 50px;
  border-radius: 2px;
  background-color: #2ecc71;
}

.field {
  width: 100%;
  padding: 0.5rem 1rem;
  outline: none;
  border: 2px solid rgba(0, 0, 0, 0);
  background-color: rgba(230, 230, 230, 0.6);
  font-size: 1.1rem;
  margin-bottom: 22px;
  -webkit-transition: .3s;
  transition: .3s;
}

.field:hover {
  background-color: rgba(0, 0, 0, 0.1);
}

.field:focus {
  background-color: #fff;
  border: 2px solid rgba(30, 85, 250, 0.47);
}

.area {
  min-height: 150px;
}

.btn {
  width: 100%;
  padding: 0.5rem 1rem;
  font-size: 1.1rem;
  background-color: #2ecc71;
  cursor: pointer;
  outline: none;
  border: none;
  color: #fff;
  -webkit-transition: .3s;
  transition: .3s;
}

.btn:hover {
  background-color: #27ae60;
}

@media screen and (max-width: 600px) {
  .contact-box {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .left {
    height: 400px;
    width: 300px;
  }
  .MapContact {
    margin-top: auto;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    min-width: none;
    margin: 20px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.containerClock {
  margin: 0;
  padding: 0;
  min-height: 30vh;
  min-width: 30vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.timer {
  margin: 10px 20px;
  width: 120px;
  background: #8cbf3f;
  text-align: center;
  border-radius: 10px;
  -webkit-box-shadow: 15px 10px 20px #55038C;
          box-shadow: 15px 10px 20px #55038C;
  cursor: pointer;
}

.timer p {
  color: #fff;
  font-size: 35px;
  margin: 25px 8px;
}

.clock1 {
  background: #f2cc0f;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.clock2 {
  background: #55038C;
}

.clock3 {
  background: #f2cc0f;
}

.clock4 {
  background: #55038C;
}

.timer h6 {
  margin: 0;
  padding: 10px;
  font-size: 1em;
  color: #fff;
  text-transform: uppercase;
  border-bottom-left-radius: 10px;
  border-bottom-right-radius: 10px;
  -webkit-box-shadow: 15px 10px 20px #000;
          box-shadow: 15px 10px 20px #000;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

@media (max-width: 600px) {
  .containerClock {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
  .timer {
    min-width: none;
    min-height: auto;
    display: block;
    margin-bottom: 20px;
  }
}

.WatchTitle {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  text-align: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

body {
  background: #fdf8e5;
  overflow-x: hidden;
}
/*# sourceMappingURL=main.css.map */